{{ if .Site.Data.homepage.aktuelles.enable }}
<section class="section rad-animation-group pb-0" id="aktuelles">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row aktuell_bg">

      <div class="col-12 col-md-12 my-auto my-auto section-title">
        <h2>{{ .Site.Data.homepage.aktuelles.title }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.aktuelles.content | safeHTML }}
        </p>
        <div class="col-12 col-md-12 my-auto my-auto">
          <p class="subheading">{{ .Site.Data.homepage.aktuelles.topic1 | safeHTML }}</p>
          <p class="lead">{{ .Site.Data.homepage.aktuelles.info1 | markdownify }}</p>
        </div>
        <div class="col-12 col-md-12 my-auto my-auto">
          <p class="subheading">{{ .Site.Data.homepage.aktuelles.topic2 | safeHTML }}</p>
          <p class="lead">{{ .Site.Data.homepage.aktuelles.info2 | safeHTML }}</p>
        </div>
        <div class="col-12 col-md-12 my-auto my-auto">
          <p class="subheading">{{ .Site.Data.homepage.aktuelles.topic3 | safeHTML }}</p>
          <p class="lead">{{ .Site.Data.homepage.aktuelles.info3 | safeHTML }}</p>
        </div>

        <!--
          <a
          href="{{ .Site.Data.homepage.aktuelles.button.URL | absURL }}"
          target="_blank"
          class="btn btn-primary"
        >
          <i class="{{ .Site.Data.homepage.aktuelles.button.icon }}"></i>
          {{ .Site.Data.homepage.aktuelles.button.btnText }}
        </a>
        -->
      </div>

<!-- Google Maps -->


<!-- Image
      <div class="about__profile-picture col-12 col-md-6">
        <img
          class="lozad img-responsive image-left-overflow"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.homepage.aktuelles.image.x | absURL }}"
          data-srcset="{{ .Site.Data.homepage.aktuelles.image.x | absURL }} 1x, {{ .Site.Data.homepage.aktuelles.image._2x | absURL }} 2x"
          alt="aktuelles"
        />
      </div>
      -->
    </div>
  </div>
</section>
{{ end }}
