<footer class="footer">
<div class="container">
    <!----
      <div class="row">
      <div class="col-">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="/">HOME</a>
          </li>
          {{ range .Site.Menus.footer }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name | upper }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    ----->

    <div class="row">
      <div class="col-">
        <div class="footer__copy">
        {{ .Site.Params.footer.copyright }} |
        </div>
      </div>
      <div class="col-">
        <div class="footer__right">
          <a href="https://radity.com/">
            <img
              src="{{ .Site.Params.footer.radity_logo.x | absURL }}"
              srcset="{{ .Site.Params.footer.radity_logo.x | absURL }} 1x, {{ .Site.Params.footer.radity_logo._2x | absURL }} 2x"
              alt="{{ .Site.Params.footer.radity_logo.alt }}"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col- panel-group'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
              <h4 class='panel-title-impressum'>
                  <a data-toggle='collapse' href='#impressum'>Impressum und Datenschutz</a>
              </h4>
          </div>
            <div id='impressum' class='panel-collapse-impressum collapse'>
                  <h1 class="impressum__title">Impressum</h1>
                  <p class="impressum_text">Informationspflicht laut &sect;5 E-Commerce Gesetz, &sect;14 Unternehmensgesetzbuch, &sect;63 Gewerbeordnung und Offenlegungspflicht laut &sect;25 Mediengesetz.</p>
                  <p class="impressum_text">Dr. Katharina Lehner, Dr. Evelin Cadamuro, &Auml;rztinnen f&uuml;r Allgemeinmedizin OG<br />Moosstrasse 96, <br />5020 Salzburg, <br />&Ouml;sterreich</p>
                  <p class="impressum_text">
                  <strong>Unternehmensgegenstand:</strong> Ordination f&uuml;r Allgemeinmedizin<br />
                  <strong>UID-Nummer:</strong> folgt<br />
                  <strong>Firmenbuchnummer:</strong> FN 545486 k<br />
                  <strong>Firmenbuchgericht:</strong> Salzburg<br />
                  <strong>Firmensitz:</strong> 5020 Salzburg</p>
                  <p class="impressum_text">
                  <strong>Tel.:</strong> 0662  - 82 22 14<br />
                  <strong>Fax:</strong> 0662  - 82 26 63<br />
                  <strong>E-Mail:</strong> <a href="mailto:praxis@dr-katharina-lehner.at">praxis@dr-katharina-lehner.at</a>
                  </p>
                  <p class="impressum_text">
                  <strong>Mitglied bei:</strong> &Auml;rztekammer Salzburg, WKS<br />
                  <strong>Berufsrecht:</strong> &Auml;rztegesetz 1998 - https://www.ris.bka.gv.at/</p>
                  <p class="impressum_text">
                  <strong>Aufsichtsbeh&ouml;rde/Gewerbebeh&ouml;rde:</strong> Bezirkshauptmannschaft Salzburg Stadt<br />
                  <strong>Berufsbezeichnung:</strong> &Auml;rztinnen f&uuml;r Allgemeinmedizin<br />
                  <strong>Verleihungsstaat:</strong> &Ouml;sterreich</p>
                  <p class="impressum_text">
                  <strong>Vertretungsbefugte Gesellschafter</strong>
                  <br />Dr. Katharina Lehner, Dr. Evelin Cadamuro</p>
                  <p class="impressum_text">
                  <strong>Beteiligungsverh&auml;ltnisse</strong>
                  <br />Gesellschafter Dr. Katharina Lehner 50%, Dr. Evelin Cadamuro 50%</p>
                  <p  class="impressum_text" style="margin-top:15px">Quelle: Erstellt mit dem Impressum Generator von <a href="https://www.adsimple.at/blog-marketing/" title="AdSimple&circledR; Blog Marketing" rel="follow noopener" target="_blank">AdSimple&circledR; Blog Marketing</a> in Kooperation mit <a href="https://www.aboutbusiness.at/" target="_blank" rel="follow noopener">aboutbusiness.at</a>
                  </p>
                  <h2 id="eu-streitschlichtung" class="impressum__title">EU-Streitschlichtung</h2>
                  <p class="impressum_text">Gem&auml;&szlig; Verordnung &uuml;ber Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) m&ouml;chten wir Sie &uuml;ber die Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br />
                  Verbraucher haben die M&ouml;glichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europ&auml;ischen Kommission unter <a class="impressum_text" href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank" rel="noopener">http://ec.europa.eu/odr?tid=121597619</a> zu richten. Die daf&uuml;r notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.</p>
                  <p class="impressum_text">Wir m&ouml;chten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
                  <h2 id="haftung-fuer-inhalte-dieser-webseite" class="impressum__title">Haftung f&uuml;r Inhalte dieser Webseite</h2>
                  <p class="impressum_text">Wir entwickeln die Inhalte dieser Webseite st&auml;ndig weiter und bem&uuml;hen uns korrekte und aktuelle Informationen bereitzustellen. Leider k&ouml;nnen wir keine Haftung f&uuml;r die Korrektheit aller Inhalte auf dieser Webseite &uuml;bernehmen, speziell f&uuml;r jene die seitens Dritter bereitgestellt wurden.</p>
                  <p class="impressum_text">Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitten wir Sie uns umgehend zu kontaktieren, Sie finden die Kontaktdaten im Impressum.</p>
                  <h2 id="haftung-links-webseite" class="impressum__title">Haftung f&uuml;r Links auf dieser Webseite</h2>
                  <p class="impressum_text">Unsere Webseite enth&auml;lt Links zu anderen Webseiten f&uuml;r deren Inhalt wir nicht verantwortlich sind. Haftung f&uuml;r verlinkte Websites besteht laut <a class="impressum_text" href="https://www.ris.bka.gv.at/Dokument.wxe?Abfrage=Bundesnormen&amp;Dokumentnummer=NOR40025813&amp;tid=121597619" target="_blank" rel="noopener">&sect; 17 ECG</a> f&uuml;r uns nicht, da wir keine Kenntnis rechtswidriger T&auml;tigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen w&uuml;rden, wenn uns Rechtswidrigkeiten bekannt werden.</p>
                  <p class="impressum_text">Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitten wir Sie uns zu kontaktieren, Sie finden die Kontaktdaten im Impressum.</p>
                  <h2 id="urheberrechtshinweis" class="impressum__title">Urheberrechtshinweis</h2>
                  <p class="impressum_text">Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.</p>
                  <p class="impressum_text">Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten wir Sie uns zu kontaktieren.</p>
                  <h2 id="bildernachweis" class="impressum__title">Bildernachweis</h2>
                  <p class="impressum_text">Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich gesch&uuml;tzt.</p>

                  <h1 class="impressum__title">Datenschutzerkl&auml;rung</h1>
                  <h2 id="datenschutz" class="impressum__title">Datenschutz</h2>
                  <p class="impressum_text">Wir haben diese Datenschutzerkl&auml;rung (Fassung 01.01.1970-121597619) verfasst, um Ihnen gem&auml;&szlig; der Vorgaben der <a class="impressum_text" href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&amp;tid=121597619" target="_blank" rel="noopener">Datenschutz-Grundverordnung (EU) 2016/679</a> zu erkl&auml;ren, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsm&ouml;glichkeiten Sie als Besucher dieser Webseite haben.</p>
                  <p class="impressum_text">Leider liegt es in der Natur der Sache, dass diese Erkl&auml;rungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bem&uuml;ht die wichtigsten Dinge so einfach und klar wie m&ouml;glich zu beschreiben.</p>
                  <h2 id="rechte-dsgvo" class="impressum__title">Rechte laut Datenschutzgrundverordnung</h2>
                  <p class="impressum_text">Ihnen stehen laut den Bestimmungen der DSGVO und des &ouml;sterreichischen <a class="impressum_text" href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&amp;Gesetzesnummer=10001597&amp;tid=121597619" target="_blank" rel="noopener">Datenschutzgesetzes (DSG)</a> grunds&auml;tzlich die folgende Rechte zu:</p>
                  <ul class="impressum_text">
                  <li class="impressum_text">Recht auf Berichtigung (Artikel 16 DSGVO)</li>
                  <li class="impressum_text">Recht auf L&ouml;schung (&bdquo;Recht auf Vergessenwerden&ldquo;) (Artikel 17 DSGVO)</li>
                  <li class="impressum_text">Recht auf Einschr&auml;nkung der Verarbeitung (Artikel 18 DSGVO)</li>
                  <li class="impressum_text">Recht auf Benachrichtigung &ndash; Mitteilungspflicht im Zusammenhang mit der Berichtigung oder L&ouml;schung personenbezogener Daten oder der Einschr&auml;nkung der Verarbeitung (Artikel 19 DSGVO)</li>
                  <li class="impressum_text">Recht auf Daten&uuml;bertragbarkeit (Artikel 20 DSGVO)</li>
                  <li class="impressum_text">Widerspruchsrecht (Artikel 21 DSGVO)</li>
                  <li class="impressum_text">Recht, nicht einer ausschlie&szlig;lich auf einer automatisierten Verarbeitung &mdash; einschlie&szlig;lich Profiling &mdash; beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</li>
                  </ul>
                  <p class="impressum_text">Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verst&ouml;&szlig;t oder Ihre datenschutzrechtlichen Anspr&uuml;che sonst in einer Weise verletzt worden sind, k&ouml;nnen Sie sich bei der Aufsichtsbeh&ouml;rde beschweren, welche in &Ouml;sterreich die Datenschutzbeh&ouml;rde ist, deren Webseite Sie unter <a class="impressum_text" href="https://www.dsb.gv.at/?tid=121597619">https://www.dsb.gv.at/</a> finden.</p>
                  <p  class="impressum_text" style="margin-top:15px">Quelle: Erstellt mit dem Datenschutz Generator von <a href="https://www.adsimple.at/seo-suchmaschinenoptimierung/" title="AdSimple&circledR; Suchmaschinenoptimierung" rel="follow noopener" target="_blank">AdSimple&circledR; SEO</a> in Kooperation mit <a href="https://www.meinhaushalt.at/" target="_blank" rel="follow noopener">meinhaushalt.at</a>
                  </p>
              </div>
        </div>
      </div>
    </div>
</div>
</footer>
