<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>




<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id={{ .Site.Params.googleTagManagerID }}' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ .Site.Params.googleTagManagerID }}');
</script>
<!-- End Google Tag Manager -->

<!-- Slideshow -->
<script type="text/javascript">
  var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

<!-- End Slideshow -->

<!-- Opening Time -->
<script type="text/javascript">
$(document).ready(function() {
  var weekday = new Date().getDay();
  // Mo - Fr
  if (weekday >= 1 && weekday <= 7) {
    $('.opening-box').eq(weekday-1).addClass('today');
  }
});
</script>
<!-- End Opening Time -->

<!-- Open new window -->

<script type="text/javascript">>
function newWin(url,w,h) {
 var day = new Date();
 var id= day.getTime();
 var params = 'width='+w+',height='+h+',scrollbars,resizable';
 var win = window.open(url,id,params);
 return false;
}
</script>

<!-- End Open new window -->



<!-- endinject -->

<title>{{ .Site.Data.homepage.head.title }}</title>



<style>
/*custom CSS*/





/*Import Google Fonts*/

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');



  /* Opening times */

  #opening-times {
    margin-bottom: 20px;
  }

  #opening-times .opening-times-header {
    height: 3em;
    text-align: center;
  }

  #opening-times .opening-box {
    padding-bottom: 1em;
  }

  #opening-times .opening-time {
    border-top: 5px solid #90BE6D;
    display: block;
    position: relative;
    height: 9em;
    box-shadow: lightgrey 1px 2px 14px;
    text-align: center;
  }

  .opening-box.today h2{
    color: white;
  }

  .today {
    border: 10px solid #F94144;
    border-radius: 3px;
    border-bottom: 30px solid #F94144;
    background-color: #90BE6D;
    color: white;
    box-shadow: darkgrey 6px 7px 14px;
  }

  #opening-times .today .opening-time{
    box-shadow: none;
  }

  #opening-times .today .opening-time h2{
    color: white;
  }


  #opening-times .today::after {
    text-align: center;
    content: "HEUTE";
    color: white;
  }

  #opening-times .opening-time h2 {
    text-align: center;
    font-size: 40px;
    color: #90BE6D;
    position: absolute;
    bottom: 10px;
    font-weight: 700;
    width: 100%;
    min-width: 2em;
    overflow: hidden;
  }




  #opening-time .times {
    color: #9fc015;
    font-weight: bold;
  }

  #opening-times .opening-time .times {
    padding-top: 0.5em;
    font-family: "Amatic SC";
    font-size: 35px;
    }
  }














/* Logo */
  .header .navbar-brand span:first-child{
    color:#90BE6D !important;
    }

/* Logo Bild Lehner cadamuro*/

    .showcase__foto{
      -webkit-box-pack:start;
      justify-content:flex-start;
      -webkit-box-align:center;
      align-items:center;
      width:100%;
      position:absolute;left:50%;
      z-index:0;display:none
    }

    .showcase__foto img{
      max-width:100%;
      margin-top:90px;
      height: auto;;
      }
      @media
      (min-width:992px)
      {
        .rad-showcase{
        min-height:870px;
        padding-top:0;
        margin-bottom:0
        }
        .showcase__foto{
          display:-webkit-box;
          display:flex;
          right:-50px
        }
        .showcase__foto img{
          width:auto
        }
      }




.container{
  padding-top:24px;
}

.display-1{
    font-family:"Amatic SC"
}


.showcase__subtitle2
{
  font-family:"Amatic SC";
  font-size:25px;
  font-weight:600;
  line-height:normal;
  color: #90BE6D !important;
  }
  @media (min-width:992px)
  {
    .showcase__subtitle2{
      font-size:30px
      }
 }

.section-title h2{
  font-family:"Amatic SC";
}


.header .navbar-light .navbar-nav .nav-link{
  font-family:"Amatic SC";
  font-size:"25px" !important;
  @media (min-width: 992px)
  {
    font-family:"Amatic SC";
    font-size:"25px" !important;
  }
.header .navbar .nav-item .nav-link
}

/* Aktuelles*/

.aktuell_bg{
  background-image: repeating-linear-gradient(-45deg, #90BE6D, #90BE6D 30px, #90bb6f 30px, #90bb6f 60px);
  border: 5px solid #F94144;
  border-radius: 10px;
  padding-top: 10px;
}

.leistung {
  padding-top:10px;

}

.subheading{

 font-family:"Amatic SC";
 position:relative;
 font-size:20px;
 font-weight:600;
 z-index:2;
 }
   @media (min-width:992px)
 {
   .subheading{font-size:30px
 }
}


.subsubheading{
  font-weight: bold;
}

/*Background Images*/

.kontakt__bgimage {
	background-image: url("img/startseite/kontakt.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
  width: 100%;
}

.leistung__bgimage {
	background-image: url("img/startseite/leistung.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
  width: 100%;
}

.patienteninfo__bgimage {
	background-image: url("img/startseite/info.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
  width: 100%;
}

.leistung .leistung__leistung {
  font-size:17px;
  font-weight:500;
  }


.leistung__zusatzleistung {
  font-size:17px;
  font-weight:500;
  }

  .leistung__beschreibung {
    line-height:1,57;
    font-style: italic;
  }

  .section div[class*=col-] img {
    max-width: ;
  }



/*collapsible*/

  .panel-title a:link{
  font-family: 'Amatic SC';
  font-size: 1em;
  color: #577590;
}


 .panel-title-impressum a:link{
  font-family: 'Amatic SC';
   font-size: 0.5em;
   color: white;

}

 #impressum{
  color: white;
  font-family: OpenSans;
 }

 .impressum__title{
  font-family: 'Amatic SC';
  color: white;
 }


.impressum_text{
  fontfamily: Verdana;
  color: white;
}



 /*Aktuelles*/
  #aktuell_ordizeit{
      ;
  }

  .achtung {
    color: #F94144;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
  }

  .achtung2 {
    color: #F94144;
    text-align: center;
  }


  .arrow{
    text-align: center;
  }

  .arrow::before{
    content:' \21E8';
  }

  #aktuell_corona img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }

  /* Add a hover effect (blue shadow) */
  #aktuell_corona img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  .list-group-item{
    background-color: none;
  }



  .mySlides__text{
    font-family: 'Amatic SC';
    font-size: 1.5em;
    font-weight: bold;
    color: #90BE6D;
  }



  .mySlides img{
    hight:300px;
    display: block;
  }












/*geht noch nicht */
.lead-termin h5{
  font-family:"Amatic SC";
  position:relative;
  font-size:20px;
  font-weight:600;
  z-index:2;
  }
  @media (min-width:992px){
    .leistung__title{font-size:30px}
  }

.rezept .section-title {
  padding-top: 80px;
}





.air-slider{position:relative; margin: 0 auto;}.air-slider .slide{width:100%;height:100%;position:absolute;overflow:hidden;opacity:0;-webkit-transition:1s ease all;transition:1s ease all;background:#ccc}.air-slider .slide img{width:100%;height:100%}.air-slider .active-slide{opacity:1}.air-slider .controls{width:100%;height:50px;top:calc(50% - 25px);left:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;position:absolute}.air-slider .controls button{width:50px;height:50px;background:rgba(0,0,0,0.8);color:#fff;border:none;outline:none;cursor:pointer;font-weight:bold}

/*end of custom CSS*/




    /* Fade In animation triggering after font load or 3s timeout */
    .rad-fade-in {
        will-change: opacity, transform;
        animation-name: rad-fade-in-fallback;
        animation-duration: 5s;
        animation-fill-mode: both;
    }

    @keyframes rad-fade-in-fallback {
        0% {
            opacity: 0;
        }

        75% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fonts-loaded .rad-fade-in.rad-waiting {
        animation-name: none;
        opacity: 0;
    }

    .fonts-loaded .rad-fade-in.rad-animate {
        animation-name: rad-fade-in;
        animation-duration: 1.1s;
        animation-fill-mode: both;
    }

    @keyframes rad-fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* Fade In Long animation triggering after font load or 3s timeout */
    .rad-fade-in-long {
        will-change: opacity, transform;
        animation-name: rad-fade-in-long-fallback;
        animation-duration: 8s;
        animation-fill-mode: both;
    }

    @keyframes rad-fade-in-long-fallback {
        0% {
            opacity: 0;
        }

        75% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fonts-loaded .rad-fade-in-long.rad-waiting {
        animation-name: none;
        opacity: 0;
    }

    .fonts-loaded .rad-fade-in-long.rad-animate {
        animation-name: rad-fade-in-long;
        animation-duration: 2s;
        animation-fill-mode: both;
    }

    @keyframes rad-fade-in-long {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* Fade Down animation triggering after font load or 3s timeout */
    .rad-fade-down {
        will-change: opacity, transform;
        animation-name: rad-fade-down-fallback;
        animation-duration: 5s;
        animation-fill-mode: both;
        transform: translateY(-30px);
    }

    @keyframes rad-fade-down-fallback {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }

        75% {
            opacity: 0;
            transform: translateY(-30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fonts-loaded .rad-fade-down.rad-waiting {
        animation-name: none;
        opacity: 0;
        transform: translateY(-30px);
    }

    .fonts-loaded .rad-fade-down.rad-animate {
        animation-name: rad-fade-down;
        animation-duration: 1.1s;
    }

    @keyframes rad-fade-down {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Scale Down animation triggering after font load or 3s timeout */
    .rad-scale-down {
        will-change: opacity, transform;
        animation-name: rad-scale-down-fallback;
        animation-duration: 5s;
        animation-fill-mode: both;
        transform-origin: 50% 0;
    }

    @keyframes rad-scale-down-fallback {
        0% {
            opacity: 0;
            transform: scaleY(0.95);
        }

        75% {
            opacity: 0;
            transform: scaleY(0.95);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    .fonts-loaded .rad-scale-down.rad-waiting {
        animation-name: none;
        opacity: 0;
        transform: scaleY(0.95);
    }

    .fonts-loaded .rad-scale-down.rad-animate {
        animation-name: rad-scale-down;
        animation-duration: 1.1s;
        animation-fill-mode: both;
    }

    @keyframes rad-scale-down {
        0% {
            opacity: 0;
            transform: scaleY(0.95);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }
</style>


{{ range .Site.Params.plugins.css }}
<link rel="stylesheet" href="{{ .URL | absURL }}"/>
{{ end }}
