{{ if .Site.Data.homepage.ordinationszeiten.enable }}
<section class="section rad-animation-group pb-0" id="ordinationszeiten">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <script type="text/javascript">
      $(document).ready(function() {
        var weekday = new Date().getDay();
        // Mo - Fr
        if (weekday >= 1 && weekday <= 7) {
          $('.opening-box').eq(weekday-1).addClass('today');
        }
      });
      </script>
    <!--
      <div class="ordinationszeiten__profile-picture col-12 col-md-6">
        <img
          class="lozad img-responsive image-left-overflow"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.homepage.ordinationszeiten.image.x | absURL }}"
          data-srcset="{{ .Site.Data.homepage.ordinationszeiten.image.x | absURL }} 1x, {{ .Site.Data.homepage.ordinationszeiten.image._2x | absURL }} 2x"
          alt="Ordinationszeiten"
        />

      </div>
      -->
      <div class="col-12 col-md-12 my-auto my-auto section-title">
        <h2>{{ .Site.Data.homepage.ordinationszeiten.title }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.ordinationszeiten.content | safeHTML }}
        </p>
        <!--
        <a
          href="{{ .Site.Data.homepage.ordinationszeiten.button.URL | absURL }}"
          target="_blank"
          class="btn btn-primary"
        >
          <i class="{{ .Site.Data.homepage.about.button.icon }}"></i>
          {{ .Site.Data.homepage.ordinationszeiten.button.btnText }}
        </a>
        -->
      </div>
    </div>
  </div>
</section>
{{ end }}
